.center{
    text-align:center;
}
.map{
    display:inline-block;
}
.map-container{
    width:800px;
    margin:0 auto;
    margin-top:20px;
}

/* For Google Chrome to avoid black outline when switching states */
*,*:focus,*:hover{
    outline:none;
}