.usMapContainer {
    width: 800px;
    margin:0 auto;
}
.usstate{
    /* fill:lightblue; */
    stroke:grey;
    stroke-width:2;
    /* stroke-opacity:0; */
    /* shape-rendering:crispEdges; */
}
/* .usstate:hover {
    stroke:black;
    stroke:black;
    stroke-opacity:1;
} */